@import 'tailwindcss';

button:not(:disabled) {
	cursor: pointer;
}

@theme {
	--color-primary: oklch(87.42% 0.143 87.01); /* FECF5A, yellow */
	--color-secondary: oklch(64.6% 0.142 253.92); /* muted blue */
	--color-primary-text: oklch(12.9% 0.042 264.695); /* slate-950 */
}
